---
layout: notes-home
permalink: /quantum-notes/
---

I've been transcribing the notes I make while studying quantum computing.

<style>
    html {
        scroll-behavior: smooth;
    }

    .grid {
        display: grid;
        gap: 1rem;

        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    .collapsible, .back-button {
        background-color: #585858;
        color: white;
        cursor: pointer;
        border: none;
        text-align: center;
        outline: none;
        font-size: 1rem;
        border-radius: 4px;

        transition: all 500ms;
    }

    .collapsible {
        width: 100%;
        padding: 18px;
    }

    .back-button {
        padding: 5px;
    }

    .active, .collapsible:hover {
        background-color: #353535;
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    }

    .collapsible:hover {
        transform: scale(1.1);
    }

    .back-button:hover {
        background-color: #1b1b1b;
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
        transform: scale(1.1);
    }

    .content, .toc {
        padding: 0 18px;
        max-height: 0;
        overflow: auto;
        transition: max-height 0.2s ease-out;
        background-color: #353535;
        color: white;
        border-radius: 4px;
    }

    .content-link, .toc-link {
        font-weight: bold;
        transition: 0.2s;
        text-decoration: underline;
    }

    .content-link:hover {
        color:white;
        cursor: pointer;
    }

    .toc-link:hover {
        color:aqua;
        cursor: pointer;
    }
</style>

<div class="grid">
    <button class="collapsible" title="math">Mathematical Background</button>
    <button class="collapsible" title="book" id="book-btn">Book Notes</button>
</div>

<div style="margin-top: 0.5em;">
    <div class="content" id="math">
        <dl>
        {% for bg in site.backgrounds %}
            <dt> <a class="content-link" href="{{ bg.url }}" rel="permalink">{{ bg.title }}</a> </dt>
            <dd> {{ bg.flavor }} </dd>
        {% endfor %}
        </dl>
    </div>
    <div class="content" id="book">
        <dl>
        {% for book in site.data.books %}
            <dt> <span class="toc-link" title="{{book[1].base}}">{{book[1].title}} ― {{book[1].author}}</span> </dt>
            <dd> {{book[1].flavor}} </dd>
        {% endfor %}
        </dl>
    </div>
    
    {% for book in site.data.books %}
    <div class="toc" id="{{book[1].base}}">
        {% include book_toc.html %}
        <button class="back-button" id="{{book[1].base}}-back">Back to books</button>
        <br/>
    </div>
    {% endfor %}
</div>

<script>
    var buttons = document.getElementsByClassName("collapsible");
    var toc_links = document.getElementsByClassName("toc-link");
    var active_box = null;

    function showContent(id) {
        var content = document.getElementById(id);
        content.style.maxHeight = Math.min(content.scrollHeight, 320) + "px";
        active_box = content;
        content.scrollTop = 0;
    }

    function hideContent(id) {
        var content = document.getElementById(id);
        content.style.maxHeight = null;
        active_box = null;
    }

    function activateButton(button) {
        showContent(button.title);
        button.classList.add("active");
        // button.scrollIntoView();
    }

    function deactivateButton(button) {
        hideContent(button.title);
        button.classList.remove("active");
    }

    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function() {
            // // Get a list of the active buttons
            // var active = document.getElementsByClassName("active");
            
            // // If none of the buttons are active, activate this button
            // if (active.length === 0) {
            //     activateButton(this);
            // }
            // // If this button is active, deactivate it
            // else if (active[0] === this) {
            //     deactivateButton(this);
            // }
            // // If another button is active, deactivate it and then activate this button
            // else {
            //     deactivateButton(active[0]);
            //     activateButton(this);
            // }

            var active_button = document.getElementsByClassName("active")[0];
            
            if (active_box === null) {
                activateButton(this);
            }
            else {
                // If one of the buttons is active (its content box is active)
                if (active_button) {
                    if (active_button === this) {
                        deactivateButton(active_button);
                    }
                    else {
                        deactivateButton(active_button);
                        activateButton(this);
                    }
                }
                // If none of the buttons are active, close the active box and activate this button
                else {
                    hideContent(active_box.id);
                    activateButton(this);
                }
            }
        });
    }

    for (var i = 0; i < toc_links.length; i++) {
        toc_links[i].addEventListener("click", function() {
            // Deactivate the book button
            deactivateButton(document.getElementById("book-btn"));
            // Show the toc content
            showContent(this.title);
        });

        document.getElementById(toc_links[i].title + "-back").addEventListener("click", function() {
            // Hide toc content
            hideContent(this.id.slice(0,-5));
            // Activate the book button
            activateButton(document.getElementById("book-btn"));
        });
    }
</script>

