---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">Latest Note Updates</h3>
{% for i in (0..2) %}
    <div class="list__item">
        <article>
        
        <a href="{{ site.data.note-updates[i].link }}" rel="permalink">
            <p style="font-size: smaller; margin-bottom: 0px;"> <b>{{ site.data.note-updates[i].update }} </b> </p>
        </a>
            
            <p class="page__meta">
                <i class="far fa-calendar" aria-hidden="true"></i> {{ site.data.note-updates[i].date }}
        </p>
        </article>
    </div>
{% endfor %}